body {
  background-color: black;
  background-image: url('images/ualbany_fountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

#button {
  padding: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  background-color: rgb(155, 119, 0);
  font-size: 2.5rem;
}

#button:hover {
  background-color: rgb(201, 155, 4);
}

#button:active {
  background-color: rgb(248, 192, 6);
}

#degreeInfoDiv {
  display: none;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(46, 36, 61);
}

#degreeInfo, #degreeInfoHeader {
  padding: 1rem;
}